@use './Partials/mixins';
*{
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
.nav{
    &__container{
        background-color: #323232;
        width: 100%;
    }
    &__subcontainer{
        width: 100%;
        display: flex;
        flex-direction: column;
        color: white;
        align-items: center;
        justify-content: center;
        @include mixins.tablet{
            flex-direction: row;
            width: 50%;
            justify-content: space-between;
            align-items: center;
            padding-top: 1rem;
            padding-bottom: 1rem;
        }
        @include mixins.desktop{
            flex-direction: row;
            width: 35%;
        }
        
    }
    &__subcontainer1{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        @include mixins.tablet{
        }
        @include mixins.desktop{
            padding-top: 2rem;
            padding-bottom: 2rem;
            padding-left: 7rem;
            padding-right: 3rem;
        }
    }
    &__subcontainer2{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      
        @include mixins.tablet{
            justify-content: space-between;

        }
        @include mixins.desktop{
            justify-content: space-between;
        }
    }
    &__subcontainer3{
        width: 50%;
        text-align: center;
        &:hover{
            border-bottom: 3px solid white;
        } 
        @include mixins.tablet{
            width: unset;
            &:hover{
                 border-bottom: none;
            }
        } 
        @include mixins.desktop{
            width: unset;
            padding-bottom: 2rem;
            padding-top: 2rem;
            &:hover{
                border-bottom: 3px solid white;
           }
        }
    }
    &__para{
        padding-top: 1rem;
        padding-bottom: 0.5rem;
        @include mixins.tablet{
            padding-top: 0rem;
            padding-bottom: 0rem;
        }
        @include mixins.desktop{
            padding-top: 0rem;
            padding-bottom: 0rem;
            font-size: 0.5rem;
        }

    }

    &__title{
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 1.8rem;
        padding-top: 1rem;
        @include mixins.tablet{
            height: 100%;
            padding-top: 0rem;
            align-self: center;
            font-size: 1.5rem;
            font-weight: 400;
            padding-left: 3rem;
        }
        @include mixins.desktop{
            font-size: 1.5rem;
            font-weight: 400;
            padding-top: 0rem;
        }
    }
    
    &__content{
        font-weight: 400;
        font-size: 1rem;
        text-decoration: none;
        color: white;
        @include mixins.tablet{
            font-weight: 500;
            font-size: 1rem;
            margin-left: 3rem;
            padding-bottom: 16%;
            padding-top: 16%;
            &:hover{
                border-bottom: 3px solid white;
            }
        }
        @include mixins.desktop{
            font-size: 1.2rem;
        } 
    }

}
.hero{
    &__container{
        width: 100%;
        height: 15rem;
        background-image:url(../Assets/Images/hero-shows.jpg);
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        
        @include mixins.tablet{
            height: 32rem;
        }
        @include mixins.desktop{
            height: 50rem;
            background-position: top;
        }
        &--overlay{
            width: 100%;
            height: 100%;
            background: rgba($color: #323232, $alpha: 0.5);
            @include mixins.desktop{
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
    &__subcontainer{
        display: flex;
        flex-direction: column;
        padding-left:0.9rem;
        @include mixins.tablet{
            padding-left: 3rem;
        }
        @include mixins.desktop{
           // justify-content: flex-start;
            //align-items: flex-start;
            padding-left: 8.5rem;
            padding-right: 8.5rem;
            padding-top: 0rem;
        }
    }
    &__subcontainer2{
        display: flex;
        flex-direction: column;
        @include mixins.desktop{
            display: flex;
            flex-direction: row;
            width: 100%;
        }
    }
    &__content1{
        color: white;
        padding-top: 2rem;
        @include mixins.tablet{
            font-size: 1.3rem;
            font-weight: 700;
            padding-top: 4.5rem;
        }
        @include mixins.desktop{
            padding-right: 3rem;
            font-size: 1.5rem;
            padding-top: 0rem;
            //width: fit-content;
            //justify-self: flex-start;
        }
    }
    &__content2{
        width: 70%;
        color: white;
        font-size: 1.5rem;
        font-weight: 700;
        padding-top: 1rem;
        @include mixins.tablet{
            width: 80%;
            font-size: 3.5rem;
            // padding-left: 3rem;
            // font-size: 3.5rem;
            // padding-top: 2.5rem;
        }
        @include mixins.desktop{
            // padding-left: 9%;
            font-size: 3.9rem;
            padding-right: 5rem;
        }
    }
    &__iframe{
        padding-top: 1rem;
        width: 94%;
        height: 100px;
        @include mixins.tablet{
            height: 10rem;
            padding-top: 2.5rem;
            width: 52%;
        }
        @include mixins.desktop{
            width:45%;
            height: 9rem;
            align-self: flex-end;
            //padding-left: 21rem;
        }

    }
}

footer{
    p{
        font-size: 0.8rem;
        font-weight: 400;
        color: white;
        @include mixins.tablet{
            font-size: 0.9rem;
            font-weight: 400;
            line-height: 0.75rem;
        }
        @include mixins.desktop{
            font-size: 0.9rem;
            line-height: 0.7rem;
            font-weight: 400;
        }
    }
}

.shows{
    margin-top: 2rem;
    margin-left: 0.9rem;
    margin-right: 0.9rem;
    @include mixins.tablet{
        margin-right: 1.5rem;
        margin-left: 1.5rem;
        margin-top: 1.5rem;
    }
    
    &__list{
        list-style: none;
        list-style-type: none;
        @include mixins.tablet{
            //padding-left: 1.5rem;
        }
    }
    &__heading{
        font-size: 2rem;
        @include mixins.tablet{
            padding-bottom: 2rem;
            padding-left: 1.5rem;
        }
        @include mixins.desktop{
            padding-left: 4rem;
        }
    }
    &__container{
        border-bottom: 2px #e1e1e1 solid;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        &:hover{
            background: #e1e1e1;
            //background: #afafaf;
        }
        &:active{

            background: #FAFAFA;
        }
        @include mixins.tablet{
            flex-direction: row;
            align-items: center;
            padding-bottom: 1rem;
            padding-top: 1rem;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
            &:hover{
                background: #e1e1e1;
            }
            &:active{
    
                background: #FAFAFA;
            }
        }
        @include mixins.desktop{
            flex-direction: row;
            width: 66%;
            margin-left: 22rem;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
            align-items: center;
            &:hover{
                background: #e1e1e1;
            }
            &:active{
    
                background: #FAFAFA;
            }
        }

    }     
    &__subcontainer1{
        display: flex;
        flex-direction: column;
        padding-top: 1rem;
        width: 100%;
        @include mixins.tablet{
            padding-top: 0rem;
        }
        @include mixins.desktop{
            padding-top: 0rem;
            //padding-left: 1rem;
        }
    }
    &__subcontainer2{
        display: flex;
        flex-direction: column;
        padding-top: 1rem;
        width: 100%;
        padding-bottom: 1rem;
        @include mixins.tablet{
            padding-bottom: 0rem;
            padding-top: 0rem;
        }
        @include mixins.desktop{
            padding-left: 1rem;
        }
    }

    &__title-container{
        display: none;
        @include mixins.tablet{
            display: unset;
            padding-left: 1.5rem;
            //padding-right: 1.5rem;
            display: flex;
            flex-direction: row;
            width: 59%;
            justify-content: space-between;
        }
        @include mixins.desktop{
            display: unset;
            margin-left: 23.5rem;
            display: flex;
            flex-direction: row;
            width: 39%;
            justify-content: space-between;

        }
    }
    &__title{
        color: #afafaf;
        display: none;
        @include mixins.tablet{
            display: unset;
            padding-bottom: 1rem;
        }
        @include mixins.desktop{
            display: unset;
        }
        &--venue{
            @include mixins.desktop{
                padding-left: 12%;
            }
        }
        
    }
    &__text{
        color: #afafaf;
        padding-bottom: 0.5rem;
        font-size: 0.8rem;
        @include mixins.tablet{
            display: none;
            font-size: 0.9rem;
        }
        @include mixins.desktop{
            display: none;
            font-size: 0.9rem;
            
        }
      
    }
    &__text1{
        font-weight: 600;
        font-size: 0.9rem;
      
    }
    &__text2{
        font-size: 0.9rem;
        @include mixins.desktop{
            padding-left: 3rem;
        }
    }
    &__button{
        border: 1px #afafaf solid;
        width: 100%;
        border-radius: 4px;
        background-color: #323232;
        color: white;
        font-size: 1.1rem;
        font-weight: 500;
        height: 3rem;
        @include mixins.tablet{
            height: 2.5rem;
            width: 100%;
        }

    }
}

.footer{
    &__container{
        margin-top: 1.5rem;
        background-color: #323232;
        padding: 0rem 0.75rem 0rem 0.75rem;
        @include mixins.tablet{
            font-size: 0.2rem;
            line-height: 1rem;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
        }
        @include mixins.desktop{
            padding-left: 9%;
            padding-right: 9%;
            padding-top: 2rem;
        }
    }
    &__subcontainer1{
        display: flex;
        flex-direction: column;
        padding-top: 1.5rem;
        @include mixins.tablet{
            flex-direction: row;
            padding-top: 3rem;
        }
        @include mixins.desktop{
            flex-direction: row;
        }
    }
    &__subcontainer2{
        flex-direction: row;
        padding-top: 1rem;
        @include mixins.tablet{
            margin-left: 2.6rem;
            padding-top: 0rem;
        }
        @include mixins.desktop{
            margin-left: 2.5rem;
            padding-top: 0rem;
        }
    }
    &__title{
        font-size: 1.5rem;
        line-height: 1.8rem;
        font-weight: 500;
        @include mixins.tablet{
            font-size: 2.2rem;
            font-weight: 700;
        }
        @include mixins.desktop{
            font-size: 2.5rem;
            font-weight: 700;
        }
    }
    &__icons{
        width: 1.5rem;
        height: 1.5rem;
        &--margin{
            margin-left: 1rem;
        }
    }
    &__subcontainer3{
        display: flex;
        flex-direction: column;
        @include mixins.tablet{
            flex-direction: row;
            justify-content: space-between;
        }
        @include mixins.desktop{
            flex-direction: row;
            justify-content: space-between;
            width: 80%;
        }
    }
    &__subcontainer4{
        display: flex;
        flex-direction: column;
        @include mixins.desktop{
            width: calc(100%/3);
        }
    }
    &__content{
        width: max-content;
        padding-top: 1.5rem;
        @include mixins.tablet{
            padding-top: 2.5rem;
        }
        @include mixins.desktop{
            padding-top: 2rem;
        }
        &--bold{
            font-weight: 700;
        }
        &--text{
            padding-top: 0.5rem;
        }
    }
    &__logo1{
        display: none;
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 1.8rem;
        @include mixins.tablet{
            display: flex;
            align-self: flex-end;
            margin-left: auto;
        }
        @include mixins.desktop{
            display: flex;
            align-self: flex-end;
            margin-left: auto;
        }
    }
    &__logo2{
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 1.8rem;
        padding-top: 4rem;
        @include mixins.tablet{
            display: none;
        }
        @include mixins.desktop{
            display: none;
        }

    }
    &__copyright{
        font-size: 0.7rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        @include mixins.tablet{
            padding-top: 3rem;
            font-size: 0.9rem;
            padding-bottom: 3rem;
        }
        @include mixins.desktop{
            padding-top: 3rem;
            padding-bottom: 2rem;
        }
    }
}

