* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

.nav__container {
  background-color: #323232;
  width: 100%;
}
.nav__subcontainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .nav__subcontainer {
    flex-direction: row;
    width: 50%;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
@media (min-width: 1280px) {
  .nav__subcontainer {
    flex-direction: row;
    width: 35%;
  }
}
.nav__subcontainer1 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1280px) {
  .nav__subcontainer1 {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 7rem;
    padding-right: 3rem;
  }
}
.nav__subcontainer2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .nav__subcontainer2 {
    justify-content: space-between;
  }
}
@media (min-width: 1280px) {
  .nav__subcontainer2 {
    justify-content: space-between;
  }
}
.nav__subcontainer3 {
  width: 50%;
  text-align: center;
}
.nav__subcontainer3:hover {
  border-bottom: 3px solid white;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .nav__subcontainer3 {
    width: unset;
  }
  .nav__subcontainer3:hover {
    border-bottom: none;
  }
}
@media (min-width: 1280px) {
  .nav__subcontainer3 {
    width: unset;
    padding-bottom: 2rem;
    padding-top: 2rem;
  }
  .nav__subcontainer3:hover {
    border-bottom: 3px solid white;
  }
}
.nav__para {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .nav__para {
    padding-top: 0rem;
    padding-bottom: 0rem;
  }
}
@media (min-width: 1280px) {
  .nav__para {
    padding-top: 0rem;
    padding-bottom: 0rem;
    font-size: 0.5rem;
  }
}
.nav__title {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.8rem;
  padding-top: 1rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .nav__title {
    height: 100%;
    padding-top: 0rem;
    align-self: center;
    font-size: 1.5rem;
    font-weight: 400;
    padding-left: 3rem;
  }
}
@media (min-width: 1280px) {
  .nav__title {
    font-size: 1.5rem;
    font-weight: 400;
    padding-top: 0rem;
  }
}
.nav__content {
  font-weight: 400;
  font-size: 1rem;
  text-decoration: none;
  color: white;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .nav__content {
    font-weight: 500;
    font-size: 1rem;
    margin-left: 3rem;
    padding-bottom: 16%;
    padding-top: 16%;
  }
  .nav__content:hover {
    border-bottom: 3px solid white;
  }
}
@media (min-width: 1280px) {
  .nav__content {
    font-size: 1.2rem;
  }
}

.hero__container {
  width: 100%;
  height: 15rem;
  background-image: url(../Assets/Images/hero-shows.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .hero__container {
    height: 32rem;
  }
}
@media (min-width: 1280px) {
  .hero__container {
    height: 50rem;
    background-position: top;
  }
}
.hero__container--overlay {
  width: 100%;
  height: 100%;
  background: rgba(50, 50, 50, 0.5);
}
@media (min-width: 1280px) {
  .hero__container--overlay {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.hero__subcontainer {
  display: flex;
  flex-direction: column;
  padding-left: 0.9rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .hero__subcontainer {
    padding-left: 3rem;
  }
}
@media (min-width: 1280px) {
  .hero__subcontainer {
    padding-left: 8.5rem;
    padding-right: 8.5rem;
    padding-top: 0rem;
  }
}
.hero__subcontainer2 {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1280px) {
  .hero__subcontainer2 {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
}
.hero__content1 {
  color: white;
  padding-top: 2rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .hero__content1 {
    font-size: 1.3rem;
    font-weight: 700;
    padding-top: 4.5rem;
  }
}
@media (min-width: 1280px) {
  .hero__content1 {
    padding-right: 3rem;
    font-size: 1.5rem;
    padding-top: 0rem;
  }
}
.hero__content2 {
  width: 70%;
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  padding-top: 1rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .hero__content2 {
    width: 80%;
    font-size: 3.5rem;
  }
}
@media (min-width: 1280px) {
  .hero__content2 {
    font-size: 3.9rem;
    padding-right: 5rem;
  }
}
.hero__iframe {
  padding-top: 1rem;
  width: 94%;
  height: 100px;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .hero__iframe {
    height: 10rem;
    padding-top: 2.5rem;
    width: 52%;
  }
}
@media (min-width: 1280px) {
  .hero__iframe {
    width: 45%;
    height: 9rem;
    align-self: flex-end;
  }
}

footer p {
  font-size: 0.8rem;
  font-weight: 400;
  color: white;
}
@media (min-width: 768px) and (max-width: 1279px) {
  footer p {
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 0.75rem;
  }
}
@media (min-width: 1280px) {
  footer p {
    font-size: 0.9rem;
    line-height: 0.7rem;
    font-weight: 400;
  }
}

.shows {
  margin-top: 2rem;
  margin-left: 0.9rem;
  margin-right: 0.9rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .shows {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    margin-top: 1.5rem;
  }
}
.shows__list {
  list-style: none;
  list-style-type: none;
}
.shows__heading {
  font-size: 2rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .shows__heading {
    padding-bottom: 2rem;
    padding-left: 1.5rem;
  }
}
@media (min-width: 1280px) {
  .shows__heading {
    padding-left: 4rem;
  }
}
.shows__container {
  border-bottom: 2px #e1e1e1 solid;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.shows__container:hover {
  background: #e1e1e1;
}
.shows__container:active {
  background: #FAFAFA;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .shows__container {
    flex-direction: row;
    align-items: center;
    padding-bottom: 1rem;
    padding-top: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .shows__container:hover {
    background: #e1e1e1;
  }
  .shows__container:active {
    background: #FAFAFA;
  }
}
@media (min-width: 1280px) {
  .shows__container {
    flex-direction: row;
    width: 66%;
    margin-left: 22rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    align-items: center;
  }
  .shows__container:hover {
    background: #e1e1e1;
  }
  .shows__container:active {
    background: #FAFAFA;
  }
}
.shows__subcontainer1 {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  width: 100%;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .shows__subcontainer1 {
    padding-top: 0rem;
  }
}
@media (min-width: 1280px) {
  .shows__subcontainer1 {
    padding-top: 0rem;
  }
}
.shows__subcontainer2 {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  width: 100%;
  padding-bottom: 1rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .shows__subcontainer2 {
    padding-bottom: 0rem;
    padding-top: 0rem;
  }
}
@media (min-width: 1280px) {
  .shows__subcontainer2 {
    padding-left: 1rem;
  }
}
.shows__title-container {
  display: none;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .shows__title-container {
    display: unset;
    padding-left: 1.5rem;
    display: flex;
    flex-direction: row;
    width: 59%;
    justify-content: space-between;
  }
}
@media (min-width: 1280px) {
  .shows__title-container {
    display: unset;
    margin-left: 23.5rem;
    display: flex;
    flex-direction: row;
    width: 39%;
    justify-content: space-between;
  }
}
.shows__title {
  color: #afafaf;
  display: none;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .shows__title {
    display: unset;
    padding-bottom: 1rem;
  }
}
@media (min-width: 1280px) {
  .shows__title {
    display: unset;
  }
}
@media (min-width: 1280px) {
  .shows__title--venue {
    padding-left: 12%;
  }
}
.shows__text {
  color: #afafaf;
  padding-bottom: 0.5rem;
  font-size: 0.8rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .shows__text {
    display: none;
    font-size: 0.9rem;
  }
}
@media (min-width: 1280px) {
  .shows__text {
    display: none;
    font-size: 0.9rem;
  }
}
.shows__text1 {
  font-weight: 600;
  font-size: 0.9rem;
}
.shows__text2 {
  font-size: 0.9rem;
}
@media (min-width: 1280px) {
  .shows__text2 {
    padding-left: 3rem;
  }
}
.shows__button {
  border: 1px #afafaf solid;
  width: 100%;
  border-radius: 4px;
  background-color: #323232;
  color: white;
  font-size: 1.1rem;
  font-weight: 500;
  height: 3rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .shows__button {
    height: 2.5rem;
    width: 100%;
  }
}

.footer__container {
  margin-top: 1.5rem;
  background-color: #323232;
  padding: 0rem 0.75rem 0rem 0.75rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .footer__container {
    font-size: 0.2rem;
    line-height: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
@media (min-width: 1280px) {
  .footer__container {
    padding-left: 9%;
    padding-right: 9%;
    padding-top: 2rem;
  }
}
.footer__subcontainer1 {
  display: flex;
  flex-direction: column;
  padding-top: 1.5rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .footer__subcontainer1 {
    flex-direction: row;
    padding-top: 3rem;
  }
}
@media (min-width: 1280px) {
  .footer__subcontainer1 {
    flex-direction: row;
  }
}
.footer__subcontainer2 {
  flex-direction: row;
  padding-top: 1rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .footer__subcontainer2 {
    margin-left: 2.6rem;
    padding-top: 0rem;
  }
}
@media (min-width: 1280px) {
  .footer__subcontainer2 {
    margin-left: 2.5rem;
    padding-top: 0rem;
  }
}
.footer__title {
  font-size: 1.5rem;
  line-height: 1.8rem;
  font-weight: 500;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .footer__title {
    font-size: 2.2rem;
    font-weight: 700;
  }
}
@media (min-width: 1280px) {
  .footer__title {
    font-size: 2.5rem;
    font-weight: 700;
  }
}
.footer__icons {
  width: 1.5rem;
  height: 1.5rem;
}
.footer__icons--margin {
  margin-left: 1rem;
}
.footer__subcontainer3 {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .footer__subcontainer3 {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 1280px) {
  .footer__subcontainer3 {
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
  }
}
.footer__subcontainer4 {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1280px) {
  .footer__subcontainer4 {
    width: 33.3333333333%;
  }
}
.footer__content {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding-top: 1.5rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .footer__content {
    padding-top: 2.5rem;
  }
}
@media (min-width: 1280px) {
  .footer__content {
    padding-top: 2rem;
  }
}
.footer__content--bold {
  font-weight: 700;
}
.footer__content--text {
  padding-top: 0.5rem;
}
.footer__logo1 {
  display: none;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.8rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .footer__logo1 {
    display: flex;
    align-self: flex-end;
    margin-left: auto;
  }
}
@media (min-width: 1280px) {
  .footer__logo1 {
    display: flex;
    align-self: flex-end;
    margin-left: auto;
  }
}
.footer__logo2 {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.8rem;
  padding-top: 4rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .footer__logo2 {
    display: none;
  }
}
@media (min-width: 1280px) {
  .footer__logo2 {
    display: none;
  }
}
.footer__copyright {
  font-size: 0.7rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .footer__copyright {
    padding-top: 3rem;
    font-size: 0.9rem;
    padding-bottom: 3rem;
  }
}
@media (min-width: 1280px) {
  .footer__copyright {
    padding-top: 3rem;
    padding-bottom: 2rem;
  }
}/*# sourceMappingURL=shows.css.map */